*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(180deg, #FFCA00 , #FFE580, #FFFFFF );

    background-repeat: no-repeat;
}

/* Header */
.cabecalho{
    display: flex;
    flex-direction: column;
    padding: 33px 30px 30px 39px;
}

/* logo/search-bar/chat */
.cabecalho-topo{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px;
}

/* Logo */
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 73.6px;
    margin-right: 5px;
}

/* search-bar */
.search-bar{
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 50px;
    padding: 5px 10px;
    width: 100%;
    max-width: 1000px;
    height: 20px;
    border: none;
}

.search-input{
    flex: 1; 
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
}
.search-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    cursor: pointer;
    
}

.search-btn img{
    width: 20px;
    height: 20px;
    opacity: 0.7;
}

/* Chat */
.cabecalho-chat{
    width: 46px;
    height: 46px;
}

/* Menu-de-Navegacao */
.menu-list{
    margin-top: 28px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style: none;
    gap: 70px;
}

.menu-nav-item{
    
}

.menu-nav-item img{
    width: 20px;
}

.menu-nav-item a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    gap: 12px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}


